<module xmlns="urn:jboss:module:1.0" name="org.cibseven.bpm.model.cibseven-dmn-model">
  <resources>
    <resource-root path="cibseven-dmn-model-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="java.base" />
    <module name="java.xml" />
    <module name="org.cibseven.bpm.model.cibseven-xml-model" />

  </dependencies>
</module>
