.idea
target
.classpath
.project
.settings
.editorconfig
.factorypath
build.properties
bin
.metadata
transaction.log
nbactions*.xml
nb-configuration.xml
/webapps/fox-platform-tasklist/server-work
dependency-reduced-pom.xml
faces-config.NavData
*.iml
*.sublime-project
*.sublime-workspace
*.h2.db
*.lock.db
**/overlays
**/node_modules
camunda-h2-dbs

*.DS_Store
.vscode/settings.json
rewrite_qa_webapps.log
rewrite_qa_engine_retry.log
qa_engine_build.log
