<module xmlns="urn:jboss:module:1.0" name="org.cibseven.bpm.cibseven-engine-plugin-connect">
  <resources>
    <resource-root path="cibseven-engine-plugin-connect-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="javax.api" />

    <module name="org.cibseven.bpm.cibseven-engine" />

    <module name="org.cibseven.connect.cibseven-connect-core" />
    <module name="org.cibseven.connect.cibseven-connect-http-client" services="import" />
    <module name="org.cibseven.connect.cibseven-connect-soap-http-client" services="import" />

  </dependencies>
</module>
