<module xmlns="urn:jboss:module:1.0" name="org.cibseven.bpm.cibseven-engine">
  <resources>
    <resource-root path="cibseven-engine-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="javax.api" />
    <module name="org.slf4j" />
    <module name="javax.transaction.api"/>
    <module name="javax.enterprise.api" />
    <module name="javax.inject.api" />
    <module name="javax.ejb.api" />
    <module name="javax.xml.bind.api" />
    <module name="javax.servlet.api" />

    <module name="org.jboss.vfs" />

    <module name="org.mybatis.mybatis" />
    <module name="com.fasterxml.uuid.java-uuid-generator"/>
    <module name="org.joda.time" slot="2.1" />
    <module name="org.apache.groovy.groovy-all" services="import"/>
    <module name="org.graalvm.js.js-scriptengine" services="import"/>

    <module name="sun.jdk" services="import"/>

    <module name="org.cibseven.bpm.model.cibseven-xml-model" />
    <module name="org.cibseven.bpm.model.cibseven-bpmn-model" />
    <module name="org.cibseven.bpm.model.cibseven-cmmn-model" />
    <module name="org.cibseven.bpm.model.cibseven-dmn-model" />

    <module name="org.cibseven.commons.cibseven-commons-logging" />
    <module name="org.cibseven.commons.cibseven-commons-utils" />
    <module name="org.cibseven.commons.cibseven-commons-typed-values" export="true" />
    <module name="org.cibseven.template-engines.cibseven-template-engines-freemarker" services="import" />
    <module name="org.cibseven.spin.cibseven-spin-core" services="import"/>

    <module name="org.cibseven.bpm.dmn.cibseven-engine-dmn" />
    <module name="org.cibseven.bpm.juel.cibseven-juel" services="import"/>

  </dependencies>
</module>
