<module xmlns="urn:jboss:module:1.0" name="org.cibseven.bpm.dmn.cibseven-engine-feel-scala">
  <resources>
    <resource-root path="cibseven-engine-feel-scala-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="org.slf4j" />
    <module name="sun.jdk" />
    <module name="org.cibseven.bpm.dmn.cibseven-engine-feel-api" />
    <module name="org.cibseven.commons.cibseven-commons-typed-values" />
    <module name="org.cibseven.commons.cibseven-commons-logging" />

    <module name="org.cibseven.bpm.cibseven-engine-plugin-spin" optional="true" />
	
    <module name="org.camunda.feel.feel-engine" />
  </dependencies>
</module>
