<module xmlns="urn:jboss:module:1.0" name="org.cibseven.commons.cibseven-commons-utils">
  <resources>
    <resource-root path="cibseven-commons-utils-@project.version@.jar" />
  </resources>

  <dependencies>
    <module name="java.base" />
    <module name="org.cibseven.commons.cibseven-commons-logging" />
  </dependencies>
</module>
