<module xmlns="urn:jboss:module:1.0" name="org.cibseven.bpm.identity.cibseven-identity-ldap">
  <resources>
    <resource-root path="cibseven-identity-ldap-@project.version@.jar" />
  </resources>

  <dependencies>

    <module name="sun.jdk" />

    <module name="javax.api" />
    <module name="org.cibseven.bpm.cibseven-engine" />
    <module name="org.cibseven.commons.cibseven-commons-logging" />

  </dependencies>
</module>
